header, footer {
	z-index: 200;
	margin: 0 auto auto;
	padding: 10px 0 10px 0;
	max-width: 960px;
	text-align: center;
	color: #3DB6E4;
	background-color: #e5e5e5;
}
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 14px;
}
footer > a {
	color: #3DB6E4;
}

div#wrapper {
	margin: 0 auto;
	max-width: 960px;
	height: 94%;
	background-color: #f2f2f2;
}
div#content {
	z-index: 100;
	position: relative;
	padding: 0 0 10px 0; /* Leave room for the footer */
	height: 100%;
}

h1#divvy-header-text {
	z-index: 200;
	display: inline;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Monda', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	transform:scale(1.75,1); /* W3C */
    -webkit-transform:scale(1.75,1); /* Safari and Chrome */
    -moz-transform:scale(1.75,1); /* Firefox */
    -ms-transform:scale(1.75,1); /* IE 9 */
    -o-transform:scale(1.75,1); /* Opera */
}
h1#odyssey-header-text {
	display: inline;
	margin: 0;
	font-family: 'Parisienne', cursive;
	font-size: 30px;
	font-weight: normal;
	color: #FF5E3C;
	text-shadow: #d8d8d8 .02em .02em .02em;
}
span#vv {
	color: #3DB7E4;
}