header, footer {
	z-index: 200;
	margin: 0 auto auto;
	padding: 10px 0 10px 0;
	max-width: 1140px;
	font-family: 'Dosis', sans-serif;
	color: #7f7f7f;
	text-align: center;
	background-color: #F8F8FF;
}
header {
	border-bottom: 5px solid #FF5E3C;
}
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 20px;
	border-top: 5px solid #FF5E3C;
}
footer > a, nav > a {
	font-family: 'Dosis', sans-serif;
	color: #7f7f7f;
}
nav {
	box-sizing: border-box;
	position: absolute;
	padding: 22px;
	top: 0;
	width: 1140px;
	text-align: right;
	font-size: 18px;
}
nav:hover:before {
	content: "Coming soon ";
}

div#wrapper {
	margin: 0 auto;
	max-width: 1140px;
	height: 94%;
	background-color: #f2f2f2;
}
div#content {
	z-index: 100;
	position: relative;
	padding: 0 0 10px 0; /* Leave room for the footer */
	height: 100%;
}

h1#divvy-header-text {
	z-index: 200;
	display: inline;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Monda', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	transform:scale(1.75,1); /* W3C */
    -webkit-transform:scale(1.75,1); /* Safari and Chrome */
    -moz-transform:scale(1.75,1); /* Firefox */
    -ms-transform:scale(1.75,1); /* IE 9 */
    -o-transform:scale(1.75,1); /* Opera */
}
h1#odyssey-header-text {
	display: inline;
	margin: 0;
	font-family: 'Parisienne', cursive;
	font-size: 35px;
	font-weight: normal;
	color: #FF5E3C;
	/*text-shadow: #d8d8d8 1px 1px 0px;*/
}
span#vv {
	color: #3DB7E4;
}