#map {
	margin: 0 auto auto;
	width: 100%;
	min-height: 600px;
	max-height: 100%;
}

/* Smartphone (lanscape) */
@media only screen 
and (min-width : 321px) {
 #map {
 	
 }
}
/* Smartphone (portrait) */
@media only screen 
and (max-width : 320px) {
	#map {

	}
}

div#error-box {
	display: none;
	text-align: center;
}

div#bike-control-container {
  display: absolute;
  background-color: #FF5E3C;
  border: 2px solid #ff927f;
}
.map-control-first-row > input, .map-control-second-row > input, .map-control-third-row > input {
	margin: 6px 0 6px 0;
	height: 40px;
	outline: none;
	background-color: #F8F8FF;
	border: 2px solid #595959;
	/*box-shadow: 1px 1px 2px #bfbfbf;*/
}
.map-control-first-row > input:focus, .map-control-second-row > input:focus, .map-control-third-row > input:focus {
	box-shadow: inset 0px 0px 10px #bfbfbf;
}
.map-control-first-row > input:hover, .map-control-second-row > input:hover, .map-control-third-row > input:hover {
	border: 2px solid #007fbf;
}
.map-control-first-row > input:active, .map-control-second-row > input:active, .map-control-third-row > input:active {
	
}
.map-control-first-row > input {
	padding: 0 8px 0 8px;
	width: 180px;
}
.map-control-second-row > input {
	width: 200px;
}
.map-control-third-row > input {
	width: 60px;
}
.map-control-third-row > input:nth-child(2) {
	margin: 6px;
}

div#routes-anchor {
  display: absolute;
  margin: 8px;
  padding: 0 10px;
  max-width: 70%;
}

div.trip-box {
	display: inline-block;
	vertical-align: top;
	margin: 8px 6px 8px 6px;
	padding: 4px;
	min-height: 160px;
	width: 190px;
	font-size: 12px;
	line-height: 18px;
	background-color: #ff7f66;
}
div.trip-box > p {
	margin: 0;
}