#map {
	margin: 0 auto auto;
	width: 100%;
	min-height: 600px;
	max-height: 100%;
}

/* Smartphone (lanscape) */
@media only screen 
and (min-width : 321px) {
 #map {
 	
 }
}
/* Smartphone (portrait) */
@media only screen 
and (max-width : 320px) {
	#map {

	}
}

#map-control, #focus-bike {
	text-align: center;
}