#map {
	margin: 0 auto auto;
	width: 100%;
	min-height: 600px;
	max-height: 100%;
}

/* Smartphone (lanscape) */
@media only screen 
and (min-width : 321px) {
 #map {
 	
 }
}
/* Smartphone (portrait) */
@media only screen 
and (max-width : 320px) {
	#map {

	}
}

section#map-control, section#focus-bike {
	margin: .5em;
	text-align: center;
}
input#bike-id-input {
	display: block;
	margin: 0 auto auto;
	width: 20em;
}
section#map-control > form > input, input#show-initial-routes {
	margin: .25em;
	height: 2em;
	width: 4em;
	font-size: 2em;
}
input#show-initial-routes {
	width: 8.5em;
}

div#error-box {
	/*display: none;*/
	text-align: center;
}