<div id='map'></div>

<div id='streetview'>
	<p>If you're seeing this, it may be because you moved the Street View icon somewhere where Street View isn't available.</p>
	<p>Click and drag the yellow figure in the upper-left back onto a street to re-bind streetview.</p>
</div>

<div id="error-container"></div>

<div id="bike-control-container"></div>

<div id="routes-display-container"></div>