<%= javascript_include_tag 'map' %>

<div id='map'></div>
<form>
	<input type="text" />
	<input id="start-traverse" type="submit" value="Start" />
	<input id="pause-traverse" type="submit" value="Pause" />
	<input id="next-segment" type="submit" value="Next" />
</form>
<a id="routes-anchor"></a>
<%= render 'map/routes_template' %>