<%= javascript_include_tag 'map' %>

<div id='map'></div>

<div id="error-box">
test
</div>

<section id="focus-bike">
	<form>
		<input id="bike-id-input" type="text" autofocus="true" placeholder="Select a bike ID to focus on" />
		<input id="show-initial-routes" type="submit" value="Focus" />
	</form>
</section>

<section id="map-control">
	<form>
		<input id="pause-traverse"type="submit" value="&#9646;&#9646;" />
		<input id="start-traverse" type="submit" value="&#9654;" />
		<input id="next-segment" type="submit" value="&#9654;&#9654;" />
	</form>
</section>

<div id="routes-anchor"></div>
<%= render 'map/routes_template' %>