<%= javascript_include_tag 'map' %>

<div id='map'></div>

<div id="error-box">
test
</div>

<div id="map-control-container"></div>

	<div id="routes-anchor">Enter a bike ID and click "Follow the bike!" to begin</div>


<%= render 'map/routes_template' %>